<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--<add key="address" value="http://192.168.1.149:1349/api/Alarms?stationSq={0}&amp;LineSq={1}" />-->
		<add key="Config" value="http://localhost:5000/api/LineView?workStation={0}&amp;lineCode={1}" />
			<!--http://www.aisin-atbp-current-webapi.com-->
		<add key="Real" value="http://localhost:5000/api/LineView?workStation={0}&amp;lineCode={1}" />
		<add key="fStation" value="OP10" />
		<add key="sStation" value="" />
		<add key="line" value="AS007" />
		<add key="dt" value="300" />
	</appSettings>
</configuration>